langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.83
langchain-groq==0.2.3
langchain-openai==0.3.16
langchain-text-splitters==0.3.8
langchain-huggingface==0.1.2
langchain-chroma==0.2.4
chromadb==1.0.9
groq==0.28.0
openai==1.68.2
streamlit
python-dotenv
faiss-cpu
sentence-transformers
pypdf
pymupdf
wikipedia
duckdb
pandas
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
numexpr
ipykernel